<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org">
<head>
	<title> Forgot Password </title>
	<style>
		body {
			background-image: url("https://i.imgur.com/3e5VlB7.jpg");
			background-size: cover;
		}
	</style>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

	<script th:inline="javascript">
        var app = angular.module('myApp', []);
        app
            .controller(
                'forgotPasswordCtrl',
                function($scope, $http) {
                    var baseUrl = "/iTrust2/api/v1";

                    $scope.email = "";
                    $scope.username = "";
                    $scope.password = "";
                    $scope.repeatPassword = "";


					 /* makes sure both passwords match */
                    function passwordsMatch() {
                        if(password.equals(repeatPassword) && password.isValidPassword()){
                            return true;
						}else{
                            return false;
						}
                     };

					/* makes sure the key entered is correct*/
                    function correctKey() {


                    };

                    function isValidPassword() {


                    };

                    /* makes sure that email and user name are for the same account */
                    function verifyInfo() {

                    };

                    $scope.verifyInput = function() {
                        if (!passwordsMatch()) {
                            $scope.errorMsg = "Passwords must match and be valid";
                        }

                        if (!correctKey()) {
                            $scope.errorMsg = "The reset key you have entered is not valid";

                        }


                        if (!verifyInfo()) {
                            $scope.errorMsg = "The email address and user name you have entered are not compatible.";

                        }

                    };


						/* makes sure that email address exists for some user in the DB */
                        function validEmail() {

                        };

                    $scope.sendEmail = function() {
                       if(validEmail()){
                           //send the email
					   }else{
                           $scope.errorMsg = "That email address is not in the iTrust2 system"
					   }
                    }

                    $scope.resetForm = function() {
                        $scope.email = "";
                        $scope.username = "";
                        $scope.password = "";
                        $scope.repeatPassword = "";
                        $scope.errorMsg = "";

                    }

					/* Send data to backend */
                    $scope.submit = function() {
                        var url = baseUrl + "/prescriptions";
                        $scope.message = "";
                        console.log($scope.currentPrescription);
                        if ($scope.validateData()) {
                            $http({
                                method : "POST",
                                url : url,
                                data : $scope.currentPrescription
                            }).then(function(response) {
                                $scope.message = response.data;
                                $scope.resetForm();
                                console.log(response);
                            }, function(rejection) {
                                $scope.message = "An error occurred";
                                $scope.errorMsg += rejection.data;
                                console.log(rejection);
                            });
                        }
                        else {
                            $scope.message = "An error occurred"
                        }
                    };

                });
	</script>

	<div ng-app="myApp" ng-controller="forgotPasswordCtrl">

		<!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
		<div style="float:left;width:70%;border-left:1px solid #bbb;padding: 3%;height:75%;overflow-y:auto">
			<h2>Please enter information:</h2>
			<div class="passwordForm">

				<table>
					<tr>
					<td>Email</td>
					<td><input type="text" id="email" ng-model="email" placeholder="email" /></td>
						<button ng-click="sendEmail()" name="sendEmail">Send Reset Key</button>
				</tr>
					<tr>
						<td>Reset Key</td>
						<td><input type="text" id="key" ng-model="key" placeholder="key" /></td>
					</tr>
					<tr>
						<td>Username</td>
						<td><input type="text" id="username" ng-model="username" placeholder="username" /></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="text" id="password" ng-model="password" placeholder="password" /></td>
					</tr>
					<tr>
						<td>Repeat Password</td>
						<td><input type="text" id="repeatPassword" ng-model="repeatPassword" placeholder="repeat password"></td>
					</tr>
				</table>
				<br />
				<button ng-click="submit()" name="submit">Submit Prescription</button>
				<div name="errorMsg"><pre>{{errorMsg}}</pre></div>
				<div name="success">{{message}}</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>