<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})"> 
<title>Forgot Password</title>
</head>
 
<body th:include="layout :: body" th:with="content=~{::content}"> 
<div th:fragment="content">  
    <script th:inline="javascript">        /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */        /*<![CDATA[*/
    var app = angular.module('myApp', []);
    app.controller('forgotPasswordCtrl', function ($scope, $http) {
        var baseUrl = "/iTrust2/api/v1";
        $scope.changeRequest = {passwordToken: '', newPassword1: '', newPassword2: ''};
        $scope.username = "";
        $scope.requestSent = false;

        /* makes sure both passwords match */
        function passwordsMatch() {
            if ($scope.changeRequest.newPassword1 === $scope.changeRequest.newPassword2) {
                return true;
            }
            return false;
        };

        //Assures that the password the user picks is a valid one
        function isValidPassword() {
            if ($scope.changeRequest.newPassword1.length >= 6 && $scope.changeRequest.newPassword1.length <= 20) {
                return true;
            }
            return false;
        };

        function isInvalid(str) {
            return str === "" || str === null || str === undefined;
        };

        $scope.validateResetRequest = function() {
            if(isInvalid($scope.username)) {
                $scope.resetRequestErrorMsg += "Username must be non-empty \n";
            }
            return $scope.resetRequestErrorMsg === "";
        };

        //ensures that passwords match and are the appropriate length
        $scope.validatePasswordChange = function () {
            if (!passwordsMatch()) {
                $scope.changePasswordErrorMsg += "Passwords must match \n";
                return false;
            } else if (!isValidPassword()) {
                $scope.changePasswordErrorMsg += "Password should be between 6 and 20 characters \n";
                return false;
            } else if (isInvalid($scope.changeRequest.passwordToken)) {
                $scope.changePasswordErrorMsg += "Please enter your reset token \n"
                return false;
            } 
            else {
                return true;
            }
        };

        $scope.resetForm = function () {
            $scope.changeRequest = {passwordToken: '', newPassword1: '', newPassword2: ''};
            $scope.username = "";
            $scope.requestSent = false;
        };

        /* Send data to backend */
        $scope.sendResetRequest = function() {
            $scope.resetRequestMessage = "";
            $scope.resetRequestErrorMsg = "";
            $scope.changePasswordStatus = "";

            var url = baseUrl + "/password/requestReset/" + $scope.username;
            if ($scope.validateResetRequest()) {               
                $http({
                    method: "GET",
                    url: url,
                }).then(function(response) {
                    $scope.resetRequestMessage = response.data;
                    
                    // We need to keep their username around to actually change their password, 
                    // so we disable the username input box when this is true
                    $scope.requestSent = true;
                }, function(rejection) {
                    $scope.resetRequestErrorMsg += rejection.data;
                    $scope.resetRequestMessage = "An error occurred";
                });
            }
            else {
                $scope.resetRequestMessage = "An error occurred";
            }
        }

        $scope.changePassword = function () {
            var url = baseUrl + "/password/" + $scope.username;
            $scope.changePasswordStatus = "";
            $scope.changePasswordErrorMsg = "";
            if ($scope.validatePasswordChange()) {
                $http({
                    method: "POST", 
                    url: url, 
                    data: $scope.changeRequest
                }).then(function (response) {
                    $scope.changePasswordStatus = response.data;
                    $scope.resetForm();
                    console.log(response);
                }, function (rejection) {
                    $scope.changePasswordStatus = "An error occurred";
                    $scope.changePasswordErrorMsg += rejection.data;
                    console.log(rejection);
                });
            } else {
                $scope.changePasswordStatus = "An error occurred"
            }
        };
    });

    </script>
    <div ng-app="myApp" ng-controller="forgotPasswordCtrl" style="width:70%;">
        <h1>Password Reset</h1>
        <p>
            To reset your password, enter your iTrust2 username in the form below and click "Send reset token". Your token will be sent to the email address we have on file for your account, if any. You can then enter that token, along with your new password to complete the reset process.
        </p>
        <br />
        <div class="requestReset">
            <h2>Request a reset token</h2>
            <table>
                <tr>
                    <td>Username</td>
                    <td><input id="username" type="text" ng-model="username" ng-disabled="requestSent" placeholder="Enter username here" /></td>
                </tr>
            </table>
            <button id="submitResetRequest" ng-click="sendResetRequest()">Send reset token</button>
            <div id="requestResetErrorMsg"><pre>{{resetRequestErrorMsg}}</pre></div>
            <p id="requestResetStatus">{{resetRequestMessage}}</p>
        </div>
        <br />
        <div class="changePassword" ng-show="requestSent">
            <h2>Reset your password</h2>
            <p>
                Be sure to choose a strong password that has <strong>at least 6 and at most 22</strong> characters. 
            </p>
            <table>
                <tr>
                    <td>Reset token</td>
                    <td><input id="passwordToken" type="text" ng-model="changeRequest.passwordToken" placeholder="Enter reset token here" /></td>
                </tr>
                <tr>
                    <td>New password</td>
                    <td><input id="newPassword1" type="password" ng-model="changeRequest.newPassword1" placeholder="Enter new password here" /></td>
                </tr>
                <tr>
                    <td>New password confirmed</td>
                    <td><input id="newPassword2" type="password" ng-model="changeRequest.newPassword2" placeholder="Confirm your new password here" /></td>
                </tr>
            </table>
            <button id="changePassword" ng-click="changePassword()">Change password</button>
            <div id="changePasswordErrorMsg"><pre>{{changePasswordErrorMsg}}</pre></div>
        </div>
        <p id="changePasswordStatus">{{changePasswordStatus}}</p>
    </div>
</div>
</body>
</html>