<html xmlns:th="http://www.thymeleaf.org"> 
<head th:include="layout :: head(title=~{::title},links=~{})">  <title>Forgot Password</title> </head>
 
<body th:include="layout :: body" th:with="content=~{::content}"> 
<div th:fragment="content">  
    <script th:inline="javascript">        /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */        /*<![CDATA[*/
    var app = angular.module('myApp', []);
    app.controller('forgotPasswordCtrl', function ($scope, $http) {
        var baseUrl = "/iTrust2/api/v1";
        $scope.resetRequest = {password: '', repassword: '', key: ''};
        $scope.email = "";
        $scope.username = "";
        $scope.password = "";
        $scope.repeatPassword = "";
        $scope.key = "";
        $scope.patients = [];
        $scope.personnel = [];


        //checks to see if the enterd email exists in the DB 
        function validEmail() {
            $http.get("/iTrust2/api/v1/patients").then(function (response) {
                $scope.patients = response.data;
            });
            $http.get("/iTrust2/api/v1/personnel").then(function (response) {
                $scope.personnel = response.data;
            });
            for (var i = 0; i < $scope.patients.length; i++) {
                if ($scope.patients[i].email === $scope.email) {
                    return true;
                }
            }
            for (var i = 0; i < $scope.personnel.length; i++) {
                if ($scope.personnel[i].email === $scope.email) {
                    return true;
                }
            }
            return false;
        };


        /* makes sure both passwords match */
        function passwordsMatch() {
            if ($scope.password === $scope.repeatPassword) {
                return true;
            }
            return false;
        };

        //Assures that the password the user picks is a valid one 
        function isValidPassword() {
            if ($scope.password.length >= 6 && $scope.password.length <= 20) {
                return true;
            }
            return false;
        };

        function isInvalid(str) {
            return str === "" || str === null || str === undefined;
        };

        //ensures that passwords match and are the appropriate length 
        $scope.validateData = function () {
            if (!passwordsMatch()) {
                $scope.errorMsg = "Passwords must match";
                return false;
            } else if (!isValidPassword()) {
                $scope.errorMsg = "Password should be between 6 and 20 characters";
                return false;
            } else if (key.isInvalid()) {
                $scope.errorMsg = "Please enter your reset Key"
                return false;
            } else if (username.isInvalid()) {
                $scope.errorMsg = "Please enter your username Key"
                return false;
            } else {
                return true;
            }
        };
        $scope.sendEmail = function () {
            if (validEmail()) {
                //send the email 
            } else {
                $scope.errorMsg = "That email address is not in the iTrust2 system"
            }
        };
        $scope.resetForm = function () {
            $scope.email = "";
            $scope.username = "";
            $scope.password = "";
            $scope.repeatPassword = "";
            $scope.key = "";
        };
        /* Send data to backend */
        $scope.submit = function () {
            var url = baseUrl + "/password/{id}";
            $scope.message = "";
            $scope.errorMsg = "";
            if ($scope.validateData()) {
                $scope.resetRequest.password = $scope.password;
                $scope.resetRequest.repassword = $scope.repeatPassword;
                $scope.resetRequest.key = $scope.key;
                $http({method: "POST", url: url, data: $scope.resetRequest}).then(function (response) {
                    $scope.message = response.data;
                    $scope.resetForm();
                    console.log(response);
                }, function (rejection) {
                    $scope.message = "An error occurred";
                    $scope.errorMsg += rejection.data;
                    console.log(rejection);
                });
            } else {
                $scope.message = "An error occurred"
            }
        };
    });

    </script>
      
    <div ng-app="myApp" ng-controller="forgotPasswordCtrl">  
        <!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
         
        <div style="float:left;width:70%;border-left:1px solid #bbb;padding: 3%;height:75%;overflow-y:auto">  <h2>Please
            enter information:</h2> 
            <table> 
                <tr> 
                    <td>Email</td>
                     
                    <td><input type="text" id="email" ng-model="email" placeholder="email"/></td>
                     
                </tr>
                  
                <button ng-click="sendEmail()" name="sendEmail">Send Reset Key</button>
                  
                <tr> 
                    <td>Reset Key:</td>
                     
                    <td><input type="text" id="key" ng-model="key" placeholder="key"/></td>
                     
                </tr>
                 
                <tr> 
                    <td>Username:</td>
                     
                    <td><input type="text" id="username" ng-model="username" placeholder="username"/></td>
                     
                </tr>
                 
                <tr> 
                    <td>Password:</td>
                     
                    <td><input type="text" id="password" ng-model="password" placeholder="password"/></td>
                     
                </tr>
                 
                <tr> 
                    <td>Repeat Password:</td>
                     
                    <td><input type="text" id="repeatPassword" ng-model="repeatPassword" placeholder="repeat password">
                    </td>
                     
                </tr>
                 
            </table>
              <br/> 
            <button ng-click="submit()" name="submit">Submit Reset Request</button>
             
            <div name="errorMsg">
                <pre>{{errorMsg}}</pre>
            </div>
             
            <div name="success">{{message}}</div>
             
        </div>
         
    </div>
     
</div>
 
</body>
 
</html>