<html xmlns:th="http://www.thymeleaf.org"> 
<head th:include="layout :: head(title=~{::title},links=~{})">  <title>Change Password</title> </head>
 
<body th:include="layout :: body" th:with="content=~{::content}"> 
<div th:fragment="content">  
    <script th:inline="javascript">        /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */        /*<![CDATA[*/
    var app = angular.module('myApp', []);
    app.controller('changePasswordCtrl', function ($scope, $http) {
        var baseUrl = "/iTrust2/api/v1";
        $scope.changeRequest = {passwordToken: '', newPassword1: '', newPassword1: ''};

        $scope.oldPassword = "";
        $scope.newPassword = "";
        $scope.repeatPassword = "";


        /* makes sure both passwords match */
        function passwordsMatch() {
            if ($scope.password === $scope.repeatPassword) {
                return true;
            }
            return false;
        };

        //Assures that the password the user picks is a valid one 
        function isValidPassword() {
            if ($scope.password.length >= 6 && $scope.password.length <= 20) {
                return true;
            }
            return false;
        };

        function isInvalid(str) {
            return str === "" || str === null || str === undefined;
        };

        //ensures that passwords match and are the appropriate length 
        $scope.validateData = function () {
            if (!passwordsMatch()) {
                $scope.errorMsg = "Passwords must match";
                return false;
            } else if (!isValidPassword()) {
                $scope.errorMsg = "Password should be between 6 and 20 characters";
                return false;
            } else {
                return true;
            }
        };

        $scope.resetForm = function () {
            $scope.newPassword = "";
            $scope.oldPassword = "";
            $scope.repeatPassword = "";
        };


        /* Send data to backend */
        $scope.submit = function () {

            var url = baseUrl + "/password/";
            $scope.message = "";
            $scope.errorMsg = "";
            if ($scope.validateData()) {
                $scope.changeRequest.passwordToken = $scope.oldPassword;
                $scope.changeRequest.newPassword1 = $scope.newPassword;
                $scope.changeRequest.newPassword2 = $scope.repeatPassword;
                $http({method: "PUT", url: url, data: $scope.changeRequest}).then(function (response) {
                    $scope.message = response.data;
                    $scope.resetForm();
                    console.log(response);
                }, function (rejection) {
                    $scope.message = "An error occurred";
                    $scope.errorMsg += rejection.data;
                    console.log(rejection);
                });
            } else {
                $scope.message = "An error occurred"
            }
        };
    });

    </script>
      
    <div ng-app="myApp" ng-controller="changePasswordCtrl">  
        <!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
         
        <div style="float:left;width:70%;border-left:1px solid #bbb;padding: 3%;height:75%;overflow-y:auto">  <h2>Please
            enter information:</h2> 
            <table> 

                   
                 
                <tr> 
                    <td>Old Password:</td>
                     
                    <td><input type="text" id="oldPassword" ng-model="oldPassword" placeholder="Old Password"/></td>
                     
                </tr>

                <tr> 
                    <td>New Password:</td>
                     
                    <td><input type="text" id="newPassword" ng-model="newPassword" placeholder="New Password"/></td>
                     
                </tr>
                 
                <tr> 
                    <td>Repeat New Password:</td>
                     
                    <td><input type="text" id="repeatPassword" ng-model="repeatPassword" placeholder="repeat password">
                    </td>
                     
                </tr>
                 
            </table>
              <br/> 
            <button ng-click="submit()" name="submit">Submit Password Change Request</button>
             
            <div name="errorMsg">
                <pre>{{errorMsg}}</pre>
            </div>
             
            <div name="success">{{message}}</div>
             
        </div>
         
    </div>
     
</div>
 
</body>
 
</html>